body {
  background-image: url("https://res.cloudinary.com/ds57cmzxo/image/upload/c_limit,f_auto,q_80/v1/Webseite/new/Sommer/Landschaften_Restaurants/3906001.003_STAG_Sommerbilder_Saas-Almagell_064");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Wird momentan nicht benutzt */

{
  padding: 30px;
width: 70%;
margin: 20px auto;
background-color: rgba(255, 255, 255, 0.7);

}





h1 {
  text-align: center;
}


.text  {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: cyan;
  border-radius: 25px;

  margin: 50px auto;
  padding: 10px;
  width: 100px;
  height: 10px;
}


.text:hover {
  animation: scale-anim 0.2s both ease-in;
}
@keyframes scale-anim {
  from {transform: scale(1)}
  to {transform: scale(1.1)}
}

